{% style %}
    .breadcrumb {
	display: inline-block;
	overflow: hidden;
	border-radius: 5px;
    padding:20px;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	padding: 0 10px 0 60px;
	position: relative;
}
.breadcrumb a:first-child {
	padding-left: 40px;
    padding-right:50px;
	border-radius: 5px 0 0 5px;
    font-weight: 700;
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
    background:rgb(230,0,0);
}
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; 
	width: 36px; 
	height: 36px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	box-shadow: 
    2px -2px 0 2px rgb(255 255 255/ 40%), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
.flat a, .flat a:after {
	background: #333333;
	color:#eee;
	transition: all 0.7s;
}
 .flat a.active{
        background: black;

    }

.flat a:hover, 
.flat a:hover:after{
	background: #3b5998;
}
  {% endstyle %}  
  
      {% unless template == 'index' or template == 'cart'%}
       
        <nav class="breadcrumb flat" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Home"{% if template == 'index' %} class="active"{% endif %}>Home</a>
    {% if template contains 'page' %}
        <a href="{{ canonical_url }}"{% if template contains 'page' %} class="active"{% endif %}>{{ page.title }}</a>
    
    {% elsif template contains 'product' %}
        {% if collection.url %}
            <a href="{{ collection.url }}"{% if template contains 'product' %} class="active"{% endif %}>{{ collection.title }}</a>
        {% endif %}
        <a href="{{ product.url }}"{% if template contains 'product' %} class="active"{% endif %}>{{ product.title }}</a>
    
    {% elsif template contains 'collection' and collection.handle %}
        {% if current_tags %}
            <a href="/collections"{% if template contains 'collection' %} class="active"{% endif %}>Collections</a>
            <a href="/collections/{{ collection.handle }}/{{ current_tags | join: '+' }}"{% if template contains 'collection' %} class="active"{% endif %}>{{ current_tags | join: " + "  }}</a>
        {% else %}
            <a href="/collections"{% if template contains 'collection' %} class="active"{% endif %}>Collections</a>
            <a href="/collections/{{ collection.handle }}"{% if template contains 'collection' %} class="active"{% endif %}>{{ collection.title }}</a>
        {% endif %}
    
    {% elsif template == 'blog' %}
        {% if current_tags %}
            <a href="{{ blog.url }}"{% if template == 'blog' %} class="active"{% endif %}>Blog</a>
            <a href="{{ blog.url }}"{% if template == 'blog' %} class="active"{% endif %}>{{ current_tags | join: " + " }}</a>
        {% else %}
            <a href="{{ blog.url }}"{% if template == 'blog' %} class="active"{% endif %}>Blog</a>
        {% endif %}
    
    {% elsif template == 'article' %}
        <a href="{{ blog.url }}"{% if template == 'article' %} class="active"{% endif %}>Blog</a>
        <a href="{{ article.url }}"{% if template == 'article' %} class="active"{% endif %}>{{ article.title }}</a>
    
    {% else %}
        <a href="#"{% if template == 'default' %} class="active"{% endif %}>{{ page_title }}</a>
    {% endif %}
</nav>

      {% endunless %}